*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.home{
 width: 100%;
 height: 100vh;
 /*background-color:#5F9EA0;*/
 background-image: url(img/photo-background.jpg);
 background-size: cover;
 background-position: center;
}
.form{
	width: 400px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 1px solid  rgba( 255, 255, 255, 0.3);
	border: 1px solid  rgba( 255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter:  blur(5px);;
}
img{
	width: 30%;
	height: 30%;
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50px;
}

form{
	width: 80%;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: auto 20px auto 20px;
}
.form input{
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
	margin-top: 10px;
}
.form p{
	font-size: 25px ;
	text-transform: capitalize;
	font-weight: bold;
	font-style: italic;
}

.form input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px;
	font-weight: bold;
	text-transform: lowercase;
}

.form input[type="submit"]{
	color: black;
	border: none;
	outline: none;
	height: 40px;
	background:#5F9EA0;
	font-size: 18px;
	border-radius: 20px;
	font-weight: bold;
}

.form input::placeholder{
	color: white;
	font-size: 15px;
}
:focus::-webkit-input-placeholder{
	opacity: 0;
	transition: opacity .3s ;
}


